- page_title _('Start a Free Ultimate Trial')
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
= render "layouts/google_tag_manager_body"

.row
  .col-md-6.m-sm-6
    %h2.gl-pb-5.gl-my-0
      = _('Almost there')

    %p.gl-text-gray-700.gl-font-lg
      = trial_selection_intro_text

    .js-flash-alert{ data: { errors: trial_errors(@namespace, @result) } }

    = form_tag apply_trials_path(glm_params), method: :post, class: 'js-saas-trial-group' do
      - if show_trial_namespace_select?
        .js-namespace-selector{ data: { items: namespace_options_for_listbox.to_json, initial_value: params[:namespace_id] } }
      - else
        #group_name.form-group
          = label_tag :new_group_name, _('New Group Name'), for: :new_group_name, class: 'col-form-label'
          = text_field_tag :new_group_name, nil, class: 'form-control', required: !show_trial_namespace_select?, data: { qa_selector: 'new_group_name' }
      - if should_ask_company_question?
        .form-group
          = label_tag :trial_entity, _('Who will be using GitLab?')
          .gl-form-checkbox-group
            .gl-form-checkbox.form-check.form-check-inline
              = radio_button_tag :trial_entity, :company, params[:trial_entity]=='company', required: true, class: 'form-check-input', data: { qa_selector: 'trial_company' }
              = label_tag :trial_entity_company, _('My company or team'), class: 'form-check-label'
            .gl-form-checkbox.form-check.form-check-inline
              = radio_button_tag :trial_entity, :individual, params[:trial_entity]=='individual', required: true, class: 'form-check-input', data: { qa_selector: 'trial_individual' }
              = label_tag :trial_entity_individual, _('Just me'), class: 'form-check-label'
      = submit_tag _('Start your free trial'), class: 'gl-button btn btn-confirm gl-w-20', data: { qa_selector: 'start_your_free_trial' }

  .col-md-4.gl-display-inline-flex.gl-vertical-align-middle
    = image_tag 'illustrations/saas-trial-illustration.svg', alt: '', class: 'd-none d-md-inline gl-w-full'
